<!DOCTYPE html>
<html lang="en">
<%- include ('../layouts/header'); -%>

<body>
  <!-- Navigation-->
  <%- include ('../layouts/nav'); -%>
  <!-- Page Header-->
  <header class="masthead-driver-background masthead">
    <div class="container position-relative px-8 px-lg-8">
      <div class="row gx-6 gx-lg-8 justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-10">
          <div class="site-heading">
            <h1>Welcome to Admin Dashboard</h1>
            <!-- <span class="subheading">Create an appointment</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content-->
  <div class="container mb-5">
    <div class="row gx-4 mx-5">
      <div class="col-12">

        <a href="/admins/appointment-page">
          <div class="card myBoxShadow mx-auto"
            style="width:25rem;">
            <img src="/img/driverDash1.jpg"
              class="card-img-top"
              alt="beginner driver">
            <div class="card-body">
              <h5 class="card-title">Create an appointment</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Alert on new user creation -->
  <!--  if(msg === "New driver created."){ %>
    <div class="custom-alert-green">
      <span class="closebtn"
        onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Valid entries:</strong> New driver created.
    </div>
     } %> -->
  <!-- Alert on user details update -->
  <!--  if(msg === "Driver details were updated."){ %>
    <div class="custom-alert-green">
      <span class="closebtn"
        onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Valid entries:</strong> Driver details were updated.
    </div>
     } %> -->
  <div class="custom-alerts">
    <!-- Validation Errors -->
    <% if( errors != null && errors.length > 0 ) { %>
    <% for( var i = 0; i < errors.length; i++ ) { %>
    <div class="custom-alert-red">
      <span class="closebtn"
        onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Server:</strong> <%= errors[i] %>
    </div>
    <% } %>
    <% } %>
    <!-- Server Messages -->
    <% if( serverMsgs != null && serverMsgs.length > 0 ) { %>
    <% for( var i = 0; i < serverMsgs.length; i++ ) { %>
    <div class="custom-alert-yellow">
      <span class="closebtn"
        onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Server:</strong> <%= serverMsgs[i] %>
    </div>
    <% } %>
    <% } %>
  </div>
  <%- include ('../layouts/footer.ejs'); -%>
  <%- include ('../layouts/scripts.ejs'); -%>
</body>

</html>
