<!DOCTYPE html>
<html lang="en">
<%- include ('layouts/header'); -%>

<body>
  <!-- Navigation-->
  <%- include ('layouts/nav'); -%>
  <!-- Page Header-->
  <!-- <header class="masthead-driver-login-background masthead">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Signup Page</h1>
            <span class="subheading">Create a new account</span>
          </div>
        </div>
      </div>
    </div>
  </header> -->
  <!-- Main Content-->
  <div class="container px-4 px-lg-5 marginTop">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-10">
        <section class="vh-100">
          <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                  class="img-fluid"
                  alt="Sample image" />
              </div>
              <div class="col-md-9 col-lg-7 col-xl-6 offset-xl-1">
                <!-- Signup form -->
                <form class="row g-3"
                  action="/users/signup#input-username"
                  method="POST">
                  <!-- Username input -->
                  <div class="form-outline mb-4">
                    <input type="text"
                      id="input-username"
                      class="form-control form-control-lg"
                      placeholder="Enter a username"
                      name="username"
                      value="<%- data ? data.username : "" %>" />
                    <label class="form-label"
                      for="input-username">Username</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password"
                      id="input-password"
                      class="form-control form-control-lg"
                      placeholder="Enter password"
                      name="password"
                      value="<%- data ? data.password : "" %>" />
                    <label class="form-label"
                      for="input-password">Password</label>
                  </div>

                  <!-- Repeat Password input -->
                  <div class="form-outline mb-3">
                    <input type="password"
                      id="input-password-repeat"
                      class="form-control form-control-lg"
                      placeholder="Repeat password"
                      name="passwordRepeat"
                      value="<%- data ? data.password : "" %>" />
                    <label class="form-label"
                      for="input-password-repeat">Re-enter Password</label>
                  </div>

                  <!-- userType -->
                  <div class="form-outline mb-3">
                    <select id="selectUserType"
                      class="form-select form-select-lg mb-3"
                      aria-label="User type select"
                      name="userType">
                      <option value="Driver"
                        <% if (data) if ( data.userType === 'Driver' )  { %>
                        selected
                        <% } %>>Driver</option>
                      <option value="Examiner"
                        <% if (data) if ( data.userType === 'Examiner' )  { %>
                        selected
                        <% } %>>Examiner</option>
                      <option value="Admin"
                        <% if (data) if ( data.userType === 'Admin' ) { %>
                        selected
                        <% } %>>Admin</option>
                    </select>
                    <label class="form-label"
                      for="selectUserType">Select User Type</label>
                  </div>

                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit"
                      class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem"
                      data-aos="flip-up">
                      Signup
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="custom-alerts">
    <!-- Validation Errors -->
    <% if( errors != null && errors.length > 0 ) { %>
    <% for( var i = 0; i < errors.length; i++ ) { %>
    <div class="custom-alert-red">
      <span class="closebtn"
        onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Server:</strong> <%= errors[i] %>
    </div>
    <% } %>
    <% } %>
  </div>
  <%- include ('layouts/footer.ejs'); -%>
  <%- include ('layouts/scripts.ejs'); -%>
</body>

</html>
