<!-- Divider-->
<!-- User details -->
<h2 id="personal">Personal</h2>
<div class="col-md-6">
  <label for="firstName"
    class="form-label">First Name</label>
  <input type="text"
    class="form-control"
    id="firstName"
    name="firstName"
    readonly
    value="<%= driver.firstName%>"></input>
</div>
<div class="col-md-6">
  <label for="lastName"
    class="form-label">Last Name</label>
  <input type="text"
    class="form-control"
    id="lastName"
    name="lastName"
    readonly
    value="<%= driver.lastName%>" />
</div>
<div class="col-md-6">
  <label for="userID"
    class="form-label">User ID</label>
  <input type="text"
    class="form-control"
    id="userID"
    name="userID"
    readonly
    value="<%= driver.userID%>" />
</div>
<div class="col-md-6">
  <label for="inputDOB"
    class="form-label">Date of birth</label>
  <input type="date"
    class="form-control"
    id="inputDOB"
    name="inputDOB"
    readonly
    value="<%= driver.DOB %>" />
</div>
<!-- Divider-->
<hr class="my-4" />
<!-- Address -->
<h2>Address</h2>
<div class="col-md-4">
  <label for="inputHouseNumber"
    class="form-label">House Number</label>
  <input type="number"
    class="form-control"
    id="inputHouseNumber"
    name="inputHouseNumber"
    value="<%= data ? data.inputHouseNumber : driver.address.houseNumber %>" />
</div>
<div class="col-md-8">
  <label for="inputStreet"
    class="form-label">Street</label>
  <input type="text"
    class="form-control"
    id="inputStreet"
    name="inputStreet"
    value="<%= data ? data.inputStreet : driver.address.street%>" />
</div>
<div class="col-md-5">
  <label for="inputCity"
    class="form-label">City</label>
  <input type="text"
    class="form-control"
    id="inputCity"
    name="inputCity"
    value="<%= data ? data.inputCity : driver.address.city%>" />
</div>
<div class="col-md-4">
  <label for="inputProvince"
    class="form-label">Province</label>
  <input type="text"
    class="form-control"
    id="inputProvince"
    name="inputProvince"
    value="<%= data ? data.inputProvince : driver.address.province%>" />
</div>
<div class="col-md-3">
  <label for="inputPostalCode"
    class="form-label">Postal Code</label>
  <input type="text"
    class="form-control"
    id="inputPostalCode"
    name="inputPostalCode"
    value="<%= data ? data.inputPostalCode : driver.address.postalCode %>" />
</div>
<!-- Divider-->
<hr class="my-4" />
<!-- Car details -->
<h2>Car details</h2>
<div class="col-md-6">
  <label for="inputCarMake"
    class="form-label">Make</label>
  <input type="text"
    class="form-control"
    id="inputCarMake"
    name="inputCarMake"
    value="<%= data ? data.inputCarMake : driver.carMake %>" />
</div>
<div class="col-md-6">
  <label for="inputCarModel"
    class="form-label">Model</label>
  <input type="text"
    class="form-control"
    id="inputCarModel"
    name="inputCarModel"
    value="<%= data ? data.inputCarModel : driver.carModel %>" />
</div>
<div class="col-md-6">
  <label for="inputCarYear"
    class="form-label">Year</label>
  <input type="number"
    class="form-control"
    id="inputCarYear"
    name="inputCarYear"
    value="<%= data ? data.inputCarYear : driver.carYear %>" />
</div>
<div class="col-md-6">
  <label for="inputCarPlatNumber"
    class="form-label">Plat Number</label>
  <input type="number"
    class="form-control"
    id="inputCarPlatNumber"
    name="inputCarPlatNumber"
    value="<%= data ? data.inputCarPlatNumber : driver.carPlatNumber %>" />
</div>
<div class="col-md-12">
  <label for="inputCarLicenceNumber"
    class="form-label">Licence Number</label>
  <input type="text"
    class="form-control"
    id="inputCarLicenceNumber"
    placeholder="Must be 8 characters (alphanumeric)"
    name="inputCarLicenceNumber"
    value="<%= driver.carLicenceNumber %>"
    readonly />
</div>
<div class="col-12">
  <button type="submit"
    class="btn btn-primary"
    id="btnUpdate"
    data-aos="flip-up">Update</button>
</div>
